.section-left-wraper{
    max-width: 600px;
	float: right;
	padding:0 30px;
}

.section-left{
    color: white;
	float: left;
	width: 50%;
	padding:140px 0 90px 0;
	background: #835FA7;
}

.section-left h2{
    font-weight: 300;
	font-style: italic;
	font-size: 23px;
}

.section-left p{
    font-size: 15px;
	line-height: 35px;
	margin-top:10px;
}