
.section-right{
    float: left;
    width: 50%;
    padding: 140px 0 90px 0;
    background-color: rgb(189, 189, 189);
}

.about-author{
    float: left;
    max-width: 600px;
    padding-left: 30px;
}

.wraper-info-author{
    float: left;
}

.info-author{
    float:left;
    width: 100%;
}

.info-author h2{
    padding-right: 20px;
}

.info-author .img-author{
    position: relative;
    top: -10px;
    border-radius: 25px;
    float: left;
    width: 50px;
    height: 50px;
    background-color: green;
}

.author-text{
    float: left;
    width: 100%;
    margin-top: 6px;
}

.info-author h2{
    font-weight: 300;
    color: rgb(34, 0, 34);
}

.info-author p{
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color:  rgb(34, 0, 34);
}
.author-text p{
    font-size: 15px;
    color: rgb(34, 0, 34) ;
}

.slider-btn{
    width: 100%;
    float: left;
    padding-left: 30px;
    margin-top: 12px;
}

.slider-btn btn{
    width: 10px;
    height: 10px;
    float: left;
    margin-right: 8px;
    cursor: pointer;
    border-radius: 5px;
    background-color: gold;
}

.botao.selecionado{
    background-color: black;
}