section.sessao1{
	width: 100%;
	background-color: #472562;
	padding:0 2%;
	height: 400px;
}


section.sessao1 .container{
	max-width: 1000px;
}

.text-sessao1{
    position: relative;
    left: 136px;
    margin-top: 60px;
	float: left;
	width: 50%;
	color: white;
}

.text-sessao1 h2{
    font-size: 30px;
	font-weight: 300;
}

.text-sessao1 p{
	margin-top:20px;
	font-size: 17px;
}

.text-sessao1 ul{
	font-size: 15px;
	list-style-position: inside;
}

ul:nth-of-type(1){
    margin-top: 13px;
}

.text-sessao1 ul li{
	float: left;
	width: 100%;
    margin-top: 10px;
}

.btn-text{
    background-color: orange;
    width: 165px;
    height: 44px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    line-height: 44px;
    border-radius:30px;
}

.device-sessao1{
	float: left;
    position: relative;
    top: -65px;
	width: 50%;
    height: 465px;
    background-image: url(../images/device.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: -65px;
}
