header{
    width: 100%;
    height: 90vh;
    padding: 40px 5%;
    max-height: 700px;
    background-size: cover;
    background-position: center;
    background-image: url(../images/header_bg.png);
    font-weight: 300;
}

header nav{
    float: right;
}

nav.mobile-menu{
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-image: url(../images/menu-white.jpg);
    background-size: 100% 100%;
    display: none;
}

nav.mobile-menu ul{
    display: none;
    top: 60px;
    left: 0;
    background-color: rgb(90, 77, 1);
    position: absolute;
    width: 100%;
    padding: 20px 0;
    color: white;
    list-style-type: none;
    text-align: center;
}

nav.mobile-menu ul li{
    padding: 8px 0;
    border-bottom: 1px solid black;
}

nav.mobile-menu ul li a{
    color: white;
    text-decoration: none;
}

nav.mobile-menu:hover ul{
    display: block;
}

nav.mobile-menu ul li:hover{
    background-color: rgb(66, 56, 1);
}

header nav.desktop-menu ul{
    list-style-type: none;
}

header nav.desktop-menu li{
    float: left;
    padding: 0 20px;
}

header nav.desktop-menu a{
    text-decoration: none;
    color: white;
}

.logo{
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    width: 170px;
    height: 80px;
    float: left;
}

.chamada1{
    max-width: 460px;
    float: right;
    margin: 132px 120px;
}

.chamada1 h2{
    font-size: 37px;
    color: white;
}

.chamada1 p{
    margin-top: 5px;
    color: white;
}

section.sessao1{
	width: 100%;
	background-color: #472562;
	padding:0 2%;
	height: 400px;
}


section.sessao1 .container{
	max-width: 1000px;
}

.text-sessao1{
    position: relative;
    left: 136px;
    margin-top: 60px;
	float: left;
	width: 50%;
	color: white;
}

.text-sessao1 h2{
    font-size: 30px;
	font-weight: 300;
}

.text-sessao1 p{
	margin-top:20px;
	font-size: 17px;
}

.text-sessao1 ul{
	font-size: 15px;
	list-style-position: inside;
}

ul:nth-of-type(1){
    margin-top: 13px;
}

.text-sessao1 ul li{
	float: left;
	width: 100%;
    margin-top: 10px;
}

.btn-text{
    background-color: orange;
    width: 165px;
    height: 44px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    line-height: 44px;
    border-radius:30px;
}

.device-sessao1{
	float: left;
    position: relative;
    top: -65px;
	width: 50%;
    height: 465px;
    background-image: url(../images/device.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: -65px;
}
